[submodule "lib-slint-expert/source"]
	path = lib-slint-expert/source
	url = git@github.com:slint-ui/slint.git
[submodule "vscode-extension-builder/source/vscode-extension-samples"]
	path = vscode-extension-builder/source/vscode-extension-samples
	url = git@github.com:microsoft/vscode-extension-samples.git
[submodule "vscode-extension-builder/source/vscode-docs"]
	path = vscode-extension-builder/source/vscode-docs
	url = git@github.com:microsoft/vscode-docs.git
[submodule "python-log-expert/source/structlog"]
	path = python-log-expert/source/structlog
	url = git@github.com:hynek/structlog.git
[submodule "uv-expert/source/uv"]
	path = uv-expert/source/uv
	url = git@github.com:astral-sh/uv.git
[submodule "rust-cli-tui-developer/source/clap"]
	path = rust-cli-tui-developer/source/clap
	url = git@github.com:clap-rs/clap.git
[submodule "rust-cli-tui-developer/source/inquire"]
	path = rust-cli-tui-developer/source/inquire
	url = git@github.com:mikaelmello/inquire.git
[submodule "rust-cli-tui-developer/source/ratatui"]
	path = rust-cli-tui-developer/source/ratatui
	url = git@github.com:ratatui/ratatui.git
